# Bundler cache
.bundle
vendor
Gemfile.lock
2024-03-08-webappsec.md

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea

# Misc
assets/js/dist
